body
{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.data 
{
  display:none;
}

table, td, th 
{  
  border: 1px solid #ddd;
  text-align: left;
  font-size: 14px;
}

table 
{
	table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  overflow: auto;
}

h6
{
	font-weight: Bold;
	padding: 6px;
	background-color: #ddd;
}
th, td 
{
  padding: 5px;
}

tr:hover 
{
	background-color: #f2f2f2;
}

th 
{
  background-color: #ddd;
}

.undersize_row
{
 display:none;
 color:red;
}

.tableBullet
{
  padding-left:24px; /* image width plus any desired padding */
  background:url(../images/bullet_red.png) center left no-repeat;
}

.card-body
{
	padding: 8px;
}

a:hover 
{
  text-decoration: underline;
}

.center 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.undersize_td
{
	background: url(../images/bullet_arrow_down.png) no-repeat right center;
}

.header-with-line 
{
    position: relative;
    overflow: hidden;
    font-style: italic;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
	padding-left: 5px;
	
}
.header-with-line:after 
{
    content: "";
    position: absolute;
    width: 100%;
    top: 50%;
    margin-left: 10px;
    border-top: 1px solid #259BC8;
}

.accordion {
  background-color: #28a745;
  color: #f8f9fa;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  transition: 0.4s;
  margin-top: 3px;
}

.active, .accordion:hover {
  background-color: #28a745;
}

.accordion:after {
  content: '\002B';
  font-weight: bold; 
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel 
{
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	border-left: 1px solid #28a745;
	border-right: 1px solid #28a745;
	border-bottom: 1px solid #28a745;
}

